# Connecting to Postgres with Pands

In [1]:
import os
import pandas as pd
import yaml
from sqlalchemy import create_engine

In [2]:
credentials = yaml.load(open(os.path.expanduser('~/api_cred.yml')))

In [3]:
engine = create_engine('postgresql://{user}:{password}@{host}:{port}/{dbname}'.format(**credentials['rds']))

In [4]:
engine.table_names()

['tweets', 'entities', 'users']

In [5]:
pd.read_sql("SELECT * FROM tweets LIMIT 5", engine)

,tweet_id,text,user_id,timestamp_ms,created_at,lang,possibly_sensitive
0,829731620521385986,–¢–∞hsin Cesurun tablolarƒ± deƒüi≈ütirdiƒüini anlƒ±yo...,814557021102075905,1486658408657,2017-02-09 16:40:08+00:00,tr,None
1,829731620554940416,#SpringDay Bangtan √© mais que um mero grupo de...,771077634851831808,1486658408665,2017-02-09 16:40:08+00:00,pt,None
2,829731628914073600,RT @n0namae: ‡∏ß‡∏±‡∏ô‡πÄ‡∏Å‡∏¥‡∏î‡∏õ‡∏µ‡∏´‡∏ô‡πâ‡∏≤‡∏Å‡πá‡∏á‡∏≤‡∏ô‡πÅ‡∏ï‡πà‡∏á‡∏ô‡∏∞‡∏Ñ‡∏∞ üòå #Hap...,520174195,1486658410658,2017-02-09 16:40:10+00:00,th,False
3,829731624749199360,ÁµÑÊõ≤„Äé„Éã„Ç≥„Éã„Ç≥ÂãïÁîª„Äè„ÄÅÂè∞Êπæ‰∫∫„ÅßÂ§ßÂêàÂî± (11:26) https://t.co/wH4mIq...,2568449881,1486658409665,2017-02-09 16:40:09+00:00,ja,False
4,829731628914135041,QUE HERMOSA QUE SOS CHOI SOOYOUNG #HOTSOOTUFFD...,736427204607889408,1486658410658,2017-02-09 16:40:10+00:00,es,False